/* Global */

:root {
  --black-text1: hsl(0, 0%, 8%);
  --dark-gray-text2: hsl(0, 0%, 14%);
  --midnight-blue-accent: hsl(240, 64%, 27%);
  --grey-contact-bg: hsl(0, 0%, 85%);
  --white-body-bg: hsl(0, 0%, 100%);
  --red-invalid: hsl(7, 100%, 68%);
  --fs-18:1.125rem; /*FontSize*/
  --fs-88:5.5rem ;
  --fs-72:4.5rem ;
  --fs-48:3.5rem ;
  --fs-32:2rem ;
  --fs-24:1.5rem ;
  --fs-40:2.5rem ;
  --container: 69.375rem;
  --transition: 250ms ease-in-out;
}

html {
  box-sizing: border-box; /* borda */
  font-size: 100%; /* tamanho da fonte */
}

*, *::before, *::after { /*pseudo-elemento */
  box-sizing: inherit;
}

body{
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  background-color: var(--white-body-bg);
  color: var(--black-text1);
  font-size: var(--fs-18);
  line-height:1.56;
  padding-bottom: 30rem;
}

h1, h2, h3, p {
  margin-top: 0;
}

h1, h2, h3 {
  line-height: 1;
}

h1 {
  font-size: 40px;
  font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem);
  margin-bottom: 25px;
}

@media (min-width: 600px){
  h1{
    margin-bottom: 60px;
  }
}

@media (min-width: 600px){
  h1{
    margin-bottom: 43px;
  }
}

p {
  line-height: 1.5rem;
  font-size: 1rem;
  font-size: clamp(1rem, 0.79rem + 0.8vw, 1.125rem);
  color: var(--dark-gray-text2);
  margin-bottom: 25px;
}

a{
  transition: color var(--transition);
}

a:hover {
  color: var(--midnight-blue-accent)
}

a.underline {
  display: inline-block;
  padding-bottom: 10px;
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 2.29px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black-text1);
  text-decoration: none;
  background-image: linear-gradient(to right, var(--midnight-blue-accent) 75%, var(--midnight-blue-accent));
  background-position: 0 1.8em;
  background-repeat: repeat-x;
  background-size: 8px 2px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

}

.wrapper {
  width:calc(100%-2rem);
  max-width: var(--container);
  margin-inline: auto;
}

@media (min-width: 37.5em){ /*600px */
  .wrapper{
    width: calc(100% - 3.75rem);
  }
}

/* header */
.header {
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px 25px;
}

.header__home {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  line-height: 1;
  color: var(--black-text1);
  text-decoration: none;
  flex: 1 0 100%;
}

.header__social:hover > svg > path{
  fill: var(--midnight-blue-accent);
}

.header__social svg {
  display: block;
}

.header__social > svg > path {
  transition: fill var(--transition);
}

@media (min-width: 37.5em) {
  .header__nav{
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 32px;
    margin-bottom: 90px;
  }

  .header__home{
    flex: 1;
    margin-inline-end: auto;
  }
}

/* HERO */

.hero {

}

.hero__wrapper {
  padding-bottom: 80px;
  border-bottom: 2px solid var(--dark-gray-text2);
}

.hero__image {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
  display: block;
  width: 9,875rem;
  height: auto;
}

.hero__rings { 
  position: absolute;
  /*top:6.875rem;*/
  top: 110px;
  right:50%;
  z-index: -1;
  /*width: 33.125rem;*/
  height: auto;
}

.hero__circle {
  position: absolute;
  /*top: 10.5rem;*/
  top: 168px;
  right:0;
  translate: 60%;
  /*width: 8.0625rem;*/
  /*height: 8.0625rem;*/
}

.hero__text {
  text-align: center;
  position: relative;
  margin-top: 14.6875rem;
}

.hero__headline > br{
  display: none;
}

h1 > span {
  background-image: linear-gradient(to right, var(--midnight-blue-accent) 75%, var(--midnight-blue-accent));
  background-position: 0 1.15em;
  background-repeat: repeat-x;
  background-size: 8px 4px;
}

.hero__description {

}

.hero__contact {

}

@media (min-width: 37.5em){ 
  .hero__image {
    height: auto;
    top:-164px;
    width: 18rem;
    left: auto;
    right: 0;
    translate: 0;
  }

  .hero__text {
    text-align: left;
    margin-top: 0;
    width: 57vw;
  }

  .hero__headline > br {
    display: inline-block;
  }

  .hero__circle {
    top: 245px;
    translate: 65%;
  }
  
  .hero__rings { 
    top:85px;
  }
}

@media (min-width: 62.5em) {
  .hero__headline > br {
    display: none;
  }
}